
<div class="section">
    <div class="container">
        <h2 class="title">Show Post</h2>
        <div class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navabar-item">Actions</a>
        </div>

        <div class="navbar-end">
            <!-- navbar items -->
            <p class="control navbar-item">
                <%= link_to 'Edit', edit_post_path(@post) ,class:"button is-warning" %>
            </p>

            <p class="control navbar-item">
                
                 <%= link_to 'Delete', post_path(@post) ,class:"button is-danger",method: :delete,data:{confirm:"Are you sure ?"} %>
            </p>
        </div>
        </div>
        <hr/>
        <h3 class="title"><%= @post.title %></h3>
        <div class="content"><%= @post.content %></div>



       <section class="section comments">
        <div class="container">
            <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
            <%= render @post.comments %>
            <div class="comment-form">
                <hr />
                <h3 class="subtitle is-3">Leave a reply</h3>
                <%= render 'comments/form' %>
            </div>
        </div>
       </section>
    
    </div>
</div>